<div class="col-md-12 box">
    <div class="container animate__animated animate__fadeIn">
        <div class="row">
            <div class="col-md-6 bg-img-brand">
                <img src="/assets/img/logo_negro.png" class="img-brand" />
            </div>
        </div>
    </div>

    <div class="container animate__animated animate__fadeIn">
        <div class="row">
            <div class="col-md-6 p-0">
                <h4 class="title-main">Digitalización inteligente</h4>
                <p class="description-main">
                    Extrae la información relevante de documentos electrónicos
                    de forma automática optimizando sus recursos. Puede procesar
                    formularios, tablas y texto
                </p>

                <button class="btn-main" routerLink="/auth/login">
                    Comenzar
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-md-12">
        <h4 class="title-process">Proceso automatizado</h4>

        <div class="row">
            <div
                class="col-md-4"
                data-aos="fade-up"
                data-aos-delay="0"
                data-aos-duration="1000"
            >
                <span class="icon-badge-box rounded">
                    <span class="material-icons icon-badge">
                        cloud_upload
                    </span>
                </span>
                <h6 class="title-badge">Enviar</h6>
                <p class="description-badge">Uno o varios documentos</p>
            </div>

            <div
                class="col-md-4"
                data-aos="fade-up"
                data-aos-delay="200"
                data-aos-duration="1000"
            >
                <span class="icon-badge-box rounded">
                    <span class="material-icons icon-badge"> speed </span>
                </span>
                <h6 class="title-badge">Analizar</h6>
                <p class="description-badge">Procesamiento rápido</p>
            </div>

            <div
                class="col-md-4"
                data-aos="fade-up"
                data-aos-delay="400"
                data-aos-duration="1000"
            >
                <span class="icon-badge-box rounded">
                    <span class="material-icons icon-badge"> task </span>
                </span>
                <h6 class="title-badge">Resultado final</h6>
                <p class="description-badge">Archivo plano configurable</p>
            </div>
        </div>
    </div>
</div>

<div class="container bg-linear">
    <div class="col-md-12">
        <div class="row">
            <div
                class="col-md-4"
                data-aos="fade-right"
                data-aos-duration="1000"
                data-aos-once="true"
            >
                <h4 class="title-linear">Fácil de usar</h4>
                <p class="description-linear">
                    Una solución diseñada para facilitarte la extracción de
                    información de los documentos a tiempo record, y así
                    optimizar recursos
                </p>

                <button class="btn-linear" routerLink="/auth/login">
                    Vamos!
                </button>
            </div>

            <div
                class="col-md-8"
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-once="true"
            >
                <img src="/assets/img/ld-1.png" class="img-linear" />
            </div>
        </div>
    </div>
</div>
