<p class="animate__animated animate__fadeIn">
    ¿Está seguro de realizar la operación?
</p>

<mat-progress-bar
    *ngIf="isDeleting"
    class="animate__animated animate__fadeIn"
    mode="indeterminate"
></mat-progress-bar>

<div class="row animate__animated animate__fadeIn">
    <div class="col-6">
        <button
            mat-button
            matDialogClose
            class="mx-auto d-block"
            [disabled]="isDeleting"
        >
            Cancelar
        </button>
    </div>

    <div class="col-6">
        <button
            mat-button
            color="warn"
            class="mx-auto d-block"
            (click)="deleteTemplate()"
            [disabled]="isDeleting"
        >
            Continuar
        </button>
    </div>
</div>
